<!-- Toolbar -->
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title | uppercase }} app is running!</span>
  </div>
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

</div>
<div>
  <app-user [name]="rootName" (nameChanged)="onNameChanged($event)"></app-user>
</div>


<!-- <div>
  <app-dashboard></app-dashboard>
</div> -->

<!--
<div>
  <app-cart [items]="rootItems" (itemAdded)="onItemWasAdded($event)"></app-cart>
</div> -->


